<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/register.css">
    <title>formulario</title>
</head>

<body>
    <header class="conteiner-one"> 

        <section class="section-header-main">
            <div>
                <img width="200px" height="100px" src="/image/logo-mercado-liebre.svg" alt="Logo de Mercado Libre"
                    class="logo-main" />
            </div>
            <div>
                <i class="fa fa-search"></i>
                <input type="search" id="search" placeholder="Buscar..." class="search" />
            </div>
            <br>
            <div class="subtitle-one">
                <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de crédito
            </div>
        </section>
        <nav class="link-site">
            <ul>
                <li Class="margen"><a href="#">Ofertas</a></li>
                <li Class="margen"><a href="#">Tiendas Oficiales</a></li>
                <li Class="margen"><a href="#">Vender</a></li>
                <li class="margen"><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li class="margen"><a href="/login">Creá tu cuenta <i class="far fa-address-card"></i></a></li>
                <li class="margen"><a href="#">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li class="margen"><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </header>
    <form action="/procesador" method="POST" class="section-form">
        <div class="random-compos">
            <label>Nombre y Apellido</label>
            <input type="text" name="nombre" placeholder="nombre y apellido" class="unidad-campos">
        </div>
        <div class="random-compos">
            <label>Nombre de usuario</label>
            <input type="text" name="nombre" placeholder="Barto" class="unidad-campos">
        </div>
        <div class="random-compos">
            <label>Fecha de nacimiento</label>
            <input type="date" name="calendario" class="unidad-campos">
        </div>
        <div class="random-compos">
            <label>Domicilio</label>
            <input type="text" name="unidad-campos" class="unidad-campos">
        </div>
        <div class="random-compos">
            <label>Contraseña</label>
            <input type="password" name="password1" placeholder="contraseña" class="unidad-campos">
        </div>
        <div class="random-compos">
            <label>Confirmar Contraseña</label>
            <input type="password" name="password2" placeholder="confirme su contraseña" class="unidad-campos">
        </div>
        <p>Perfil del usuario</p>
        <div class="radio-button">
            <label>
                <input type="radio">Comprador
            </label>
            <label>
                <input type="radio">Vendedor
            </label>
        </div>
        <div class="option">
            <label>De interes</label>
            <input type="checkbox" name="checkchek">Electro
            <br>
            <input type="checkbox" name="checkchek">Moda
            <br>
            <input type="checkbox" name="checkchek">Juguetería
            <br>
            <input type="checkbox" name="checkchek">Vida sana
        </div>
        <div class="two-burron">
            <button type="submit" class="button">Enviar</button>
            <br>
            <button type="reset" class="button">borrar</button>
        </div>
    </form>
    
    <footer class="footer-botton">

        <article>
          <div class="icono"><i class="fas fa-credit-card"></i></div>
          <h3>Pagá con tarjeta o en efectivo</h3>
          <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
              seguro!</p>
              <br>
              <p>Copyrigth © 1999-2020 MercadoLiebre S.R.L.</p>
        </article>
  
        <article>
          <div class="icono"><i class="fas fa-gift"></i></div>
          <h3>Envío gratis desde los $2500</h3>
          <p>Envío por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
              Mercado Puntos.</p>
        </article>
  
         <article>
          <div class="icono"><i class="fas fa-user-shield"></i></div>
          <h3>Seguridad de principio a fin</h3>
          <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.
          </p>
         </article>
  
      </footer>
</body>

</html>