* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    background-color: white;
}

.conteiner-one {
    background-color: #EAC926;
    padding: 0px 5%;
}

.search {
    width: 80%;
    height: 6vh;
    border-radius: 8px;
  }

.section-header-main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.link-site {
    display: flex;
    justify-content: space-around;
}

.link-site ul {
    list-style: none;
}

.link-site ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.link-site li {
    margin: 0 5px;
}

.link-site a {
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

main {
    display: flex;
    justify-content: center;
}

.main-form div label {
    display: block;
    margin-top: 15px;
    font-size: 4vw;
}

.camp-text {
    border-radius: 5px;
    background-color: #EEEEEE;
    width: 100%;
}

.buttons {
    margin: 15px 20px 0px 25px;
    border-radius: 5px;
    width: 37vw;
    background-color: white;
    transition: background-color 400ms
}

.buttons:hover {
    background-color: #0022AA;
}

footer {
    background-color: darkgrey;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-botton {
    margin-top: 20px;
    padding: 15px;
    text-align: center;
}

.icono {
    text-align: center;
    font-size: 2em;
    line-height: 10px;
}